*.pyc
*.p
build/
__pycache__/
*.c
miscellaneous/
tmp/
old/
papers/
examples/vegas.prof
examples/*.c
examples/*.tmp
MANIFEST
dist/
doc/source/_build/
doc/latex
.coverage
src/vegas/_version.py
files-*.python*
vegas.todo
nose-uncovered.py
yyy*
xxx*
zzz*
git-instructions
*.sublime-*
references/
fortran-vegas-docummentation.pdf
