*.pyc
*.p
*.pyxbldc
build/
__pycache__/
miscellaneous/
tmp/
old/
papers/
examples/vegas.prof
examples/*.c
examples/*.tmp
examples/*.1.0
examples/*.1.1
examples/*.1.2
examples/*.1.3
MANIFEST
dist/
doc/source/_build/
doc/latex
.coverage
src/vegas/_version.py
files-*.python*
vegas.todo
nose-uncovered.py
yyy*
xxx*
zzz*
git-instructions
*.sublime-*
references/
fortran-vegas-docummentation.pdf
README.html
examples/f2py-problem.pdf
