*.pyc
build/
__pycache__/
*.c
examples/*.c
examples/*.tmp
MANIFEST
dist/
doc/source/_build/
.coverage
src/vegas/_version.py
files-*.python*
vegas.todo
nose-uncovered.py
yyy*
xxx*
git-instructions
*.sublime-*
references/