include makefile README.rst INSTALLATION.txt COPYING MANIFEST.in CHANGES.txt
include setup.py src/vegas.pxd src/vegas/*.pxd src/vegas/*.pyx
include src/vegas/*.c

graft doc/html
graft examples
graft tests
exclude examples/*.tmp
exclude examples/*.pyc
exclude examples/*.so
exclude examples/*.pyxbldc
exclude tests/*.pyc
recursive-exclude tests/__pycache__ *
recursive-exclude doc/source/_build *
